* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

::-moz-selection {
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

@media (orientation: landscape) and (max-width: 900px) {
  .nav {
    top: -80px;
  }
}

.nav.active {
  top: 0;
}

.hamburger-menu {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  overflow: hidden;
}

@media (orientation: landscape) and (max-width: 900px) {
  .hamburger-menu {
    display: block;
  }
}

.hamburger-menu .hamburger-btn, .hamburger-menu .close-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.hamburger-menu .close-btn {
  -webkit-transform: translate(-50%, -180%);
          transform: translate(-50%, -180%);
}

.hamburger-menu .hamburger-btn.active {
  -webkit-transform: translate(-50%, 180%);
          transform: translate(-50%, 180%);
}

.hamburger-menu .close-btn.active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn {
  position: absolute;
  top: -30px;
  left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 12%;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: pointer;
  color: white;
  background-color: black;
  font-size: 2rem;
  border: 1px solid white;
}

.btn i {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 440px) {
  .btn {
    left: 4vw;
    top: -5vw;
    width: 20vw;
    height: 20vw;
  }
}

.btn.active {
  top: -10px;
  color: black;
  background-color: white;
  border-color: black;
}

@media (max-width: 825px) {
  .btn.active {
    top: -20px;
  }
}

@media (max-width: 825px) and (orientation: portrait) {
  .btn.active {
    top: -1vh;
  }
}

.btn:hover {
  color: black;
  background-color: white;
  border-color: black;
}

.about-btn {
  left: 120px;
}

@media (max-width: 440px) {
  .about-btn {
    left: 28vw;
  }
}

.projects-btn {
  left: 220px;
}

@media (max-width: 440px) {
  .projects-btn {
    left: 52vw;
  }
}

.contact-btn {
  left: 320px;
}

@media (max-width: 440px) {
  .contact-btn {
    left: 76vw;
  }
}

main {
  position: realtive;
  overflow: hidden;
}

section {
  position: absolute;
  width: 100vw;
  height: 100%;
  bottom: 0;
  left: -100vw;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  opacity: 0;
  background-color: black;
  color: white;
}

section h1 {
  top: 40%;
  left: 20px;
  position: absolute;
  font-size: 5rem;
  padding-right: 40px;
}

@media (max-width: 1400px) {
  section h1 {
    font-size: 4rem;
  }
}

@media (max-width: 825px) {
  section h1 {
    top: 120px;
    font-size: 3rem;
  }
}

@media (orientation: portrait) and (max-width: 770px) {
  section h1 {
    width: 50%;
  }
}

@media (orientation: portrait) and (max-width: 570px) {
  section h1 {
    top: 100px;
  }
}

@media (orientation: portrait) and (min-height: 730px) {
  section h1 {
    top: 200px;
  }
}

@media (max-width: 340px) {
  section h1 {
    top: 90px;
    font-size: 2.3rem;
  }
}

section.active {
  left: 0;
  opacity: 1;
}

section.go-right {
  left: 100vw;
}

section.about {
  overflow: hidden;
}

section.about p {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 40%;
  overflow: hidden;
  font-size: 2.5rem;
}

@media (max-width: 1400px) {
  section.about p {
    font-size: 2.2rem;
  }
}

@media (max-width: 825px) {
  section.about p {
    top: 30px;
    font-size: 1.3rem;
  }
}

@media (max-width: 675px) {
  section.about p {
    font-size: 1.2rem;
    width: 50%;
  }
}

@media (orientation: portrait) and (max-width: 440px) {
  section.about p {
    top: 100px;
    font-size: 1.4rem;
  }
}

@media (orientation: portrait) and (max-width: 320px) {
  section.about p {
    top: 70px;
  }
}

@media (orientation: portrait) and (min-height: 730px) {
  section.about p {
    top: 200px;
  }
}

@media (max-width: 440px) and (max-height: 570px) {
  section.about p {
    font-size: 1.1rem;
  }
}

section.about ul {
  position: relative;
  list-style: none;
}

section.about ul li {
  position: fixed;
  border-radius: 50%;
  background-color: white;
  opacity: .8;
}

section.about ul li.animate {
  -webkit-animation-name: bubbles;
          animation-name: bubbles;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

section.about .animateDiv {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300vw;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(black), to(black));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, black);
  opacity: 1;
}

section.about .animateDiv.animate {
  display: block;
  -webkit-animation: moveRight 2.5s linear forwards;
          animation: moveRight 2.5s linear forwards;
}

@-webkit-keyframes moveRight {
  100% {
    right: -300vw;
  }
}

@keyframes moveRight {
  100% {
    right: -300vw;
  }
}

@-webkit-keyframes bubbles {
  100% {
    right: 50vw;
    opacity: 0;
  }
}

@keyframes bubbles {
  100% {
    right: 50vw;
    opacity: 0;
  }
}

section.projects {
  overflow: auto;
}

section.projects section.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  top: 200px;
  height: 75%;
  width: 85%;
  padding: 20px;
  background-color: black;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: visible;
  z-index: 0;
  -webkit-perspective: 400px;
          perspective: 400px;
}

@media (orientation: portrait) {
  section.projects section.project {
    top: 140px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-perspective: none;
            perspective: none;
  }
}

@media (orientation: portrait) and (max-width: 330px) {
  section.projects section.project {
    height: 68%;
  }
}

@media (orientation: portrait) and (min-height: 600px) {
  section.projects section.project {
    height: 70%;
    top: 165px;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  section.projects section.project {
    top: 200px;
  }
}

@media (orientation: landscape) and (max-width: 1400px) {
  section.projects section.project {
    top: 170px;
    height: 70%;
  }
}

@media (orientation: landscape) and (max-width: 825px) {
  section.projects section.project {
    top: 90px;
  }
}

section.projects section.project section.description, section.projects section.project section.demo {
  position: static;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  height: 70%;
  opacity: 1;
}

section.projects section.project section.description {
  padding-top: 50px;
  background-color: black;
}

@media (orientation: portrait) {
  section.projects section.project section.description {
    display: none;
  }
}

@media (max-width: 1400px) {
  section.projects section.project section.description {
    padding: 0px;
  }
}

section.projects section.project section.description p {
  font-size: 2rem;
}

@media (max-width: 1400px) {
  section.projects section.project section.description p {
    font-size: 1.7rem;
  }
}

section.projects section.project section.demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-position: center;
  background-size: cover;
  -webkit-transition: .6s linear;
  transition: .6s linear;
  -webkit-box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3);
  overflow: hidden;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: rotateY(-10deg);
          transform: rotateY(-10deg);
  -webkit-perspective: 400px;
          perspective: 400px;
}

@media (orientation: portrait) {
  section.projects section.project section.demo {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    height: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-perspective: none;
            perspective: none;
    -webkit-transform: none;
            transform: none;
  }
}

section.projects section.project section.demo a, section.projects section.project section.demo p {
  display: block;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 12%;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: pointer;
  color: white;
  background-color: black;
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 0;
  -webkit-box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3);
}

@media (max-width: 1400px) {
  section.projects section.project section.demo a, section.projects section.project section.demo p {
    -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
  }
}

section.projects section.project section.demo a:hover, section.projects section.project section.demo p:hover {
  color: black;
  background-color: white;
  border-color: black;
}

@media (orientation: portrait) {
  section.projects section.project section.demo a, section.projects section.project section.demo p {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    opacity: 1;
  }
}

section.projects section.project section.demo a {
  -webkit-transform: translateY(400%) rotateY(-10deg);
          transform: translateY(400%) rotateY(-10deg);
}

@media (orientation: portrait) {
  section.projects section.project section.demo a {
    -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
    margin-top: 10px;
    -webkit-animation: btn-shake 4s infinite;
            animation: btn-shake 4s infinite;
  }
}

@media (orientation: portrait) {
  section.projects section.project section.demo a:nth-of-type(2) {
    margin-left: 4%;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
}

section.projects section.project section.demo a:nth-of-type(1) {
  -webkit-transform: translateY(-400%) rotateY(-10deg);
          transform: translateY(-400%) rotateY(-10deg);
}

@-webkit-keyframes btn-shake {
  0% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  1% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  2% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  3% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  4% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes btn-shake {
  0% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  1% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  2% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  3% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  4% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

section.projects section.project section.demo p {
  display: none;
}

@media (orientation: portrait) {
  section.projects section.project section.demo p {
    display: block;
    font-size: 1.5rem;
  }
}

@media (orientation: portrait) {
  section.projects section.project section.demo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

section.projects section.project section.demo:hover > a {
  -webkit-transform: translateY(0%) rotateY(-10deg);
          transform: translateY(0%) rotateY(-10deg);
}

section.projects section.project section.quiz {
  background-image: url("../../images/quiz-large.png");
}

section.projects section.project section.quiz:hover {
  background-image: url("../../images/quiz-large-blur.jpg");
}

@media (orientation: portrait) {
  section.projects section.project section.quiz {
    background-image: url("../../images/quiz-small1.jpg");
  }
}

section.projects section.project section.to-do {
  background-image: url("../../images/to-do-large.png");
}

section.projects section.project section.to-do:hover {
  background-image: url("../../images/to-do-large-blur.jpg");
}

@media (orientation: portrait) {
  section.projects section.project section.to-do {
    background-image: url("../../images/to-do-small1.jpg");
  }
}

section.projects section.project section.floating-chars {
  background-image: url("../../images/floating-chars-large.png");
}

section.projects section.project section.floating-chars:hover {
  background-image: url("../../images/floating-chars-large-blur.jpg");
}

@media (orientation: portrait) {
  section.projects section.project section.floating-chars {
    background-image: url("../../images/floating-chars-small1.jpg");
  }
}

section.projects section.project section.portfolio {
  background-image: url("../../images/portfolio-large.png");
}

section.projects section.project section.portfolio:hover {
  background-image: url("../../images/portfolio-large-blur.jpg");
}

@media (orientation: portrait) {
  section.projects section.project section.portfolio {
    background-image: url("../../images/portfolio-small1.jpg");
  }
}

section.projects section.project.active {
  opacity: 1;
  z-index: 1;
}

section.projects .btn-next, section.projects .btn-prev {
  position: absolute;
  top: 60%;
  right: 1%;
  opacity: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 12%;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: pointer;
  color: white;
  background-color: black;
  font-size: 2rem;
  border: 1px solid white;
  border: none;
  border-radius: 50%;
  font-size: 3rem;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

section.projects .btn-next:hover, section.projects .btn-prev:hover {
  color: black;
  background-color: white;
  border-color: black;
}

@media (orientation: portrait) and (max-width: 330px) {
  section.projects .btn-next, section.projects .btn-prev {
    font-size: 2.3rem;
  }
}

@media (orientation: portrait) and (min-width: 1024px) {
  section.projects .btn-next, section.projects .btn-prev {
    top: 55%;
    font-size: 5rem;
  }
}

@media (orientation: landscape) and (max-width: 825px) {
  section.projects .btn-next, section.projects .btn-prev {
    font-size: 2.3rem;
  }
}

section.projects .btn-prev {
  right: auto;
  left: 1%;
  display: none;
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

section.projects h1 {
  top: 10%;
  left: 50%;
  width: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0;
}

@media (orientation: portrait) {
  section.projects h1 {
    top: 70px;
  }
}

@media (orientation: portrait) and (min-height: 600px) {
  section.projects h1 {
    top: 100px;
  }
}

@media (orientation: landscape) and (max-width: 825px) {
  section.projects h1 {
    top: 20px;
  }
}

section.contact h1 {
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

section.contact p {
  position: absolute;
  bottom: 5vh;
  left: 0;
  width: 100%;
  height: 70vh;
  padding: 20px;
}
/*# sourceMappingURL=styles.css.map */