* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: white;
}

::-moz-selection {
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media (orientation: landscape) and (max-width: 1000px) {
  .nav {
    top: -80px;
    width: 70vw;
  }
}

@media (orientation: portrait) {
  .nav {
    top: -80px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.nav.active {
  top: 0;
}

.btn {
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px;
  height: 80px;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  margin: 0 10px;
  border-radius: 12%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  cursor: pointer;
  color: white;
  background-color: black;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
}

.btn:focus {
  -webkit-box-shadow: 0px 0px 2px 2px white;
  box-shadow: 0px 0px 2px 2px white;
}

.btn i {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 440px) {
  .btn {
    -webkit-transform: translateY(-5vw);
    transform: translateY(-5vw);
    -ms-flex-preferred-size: 20vw;
    flex-basis: 20vw;
    height: 20vw;
  }
}

.btn.active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  color: black;
  background-color: white;
  border-color: black;
}

@media (max-width: 825px) {
  .btn.active {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@media (max-width: 825px) and (orientation: portrait) {
  .btn.active {
    -webkit-transform: translateY(-1vh);
    transform: translateY(-1vh);
  }
}

.btn:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.hamburger-menu {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  overflow: hidden;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (orientation: landscape) and (max-width: 1000px) {
  .hamburger-menu {
    display: block;
  }
}

@media (orientation: portrait) {
  .hamburger-menu {
    display: block;
  }
}

.hamburger-menu .hamburger-btn,
.hamburger-menu .close-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.hamburger-menu .close-btn {
  -webkit-transform: translate(-50%, -180%);
  transform: translate(-50%, -180%);
}

.hamburger-menu .hamburger-btn.active {
  -webkit-transform: translate(-50%, 180%);
  transform: translate(-50%, 180%);
}

.hamburger-menu .close-btn.active {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (orientation: portrait) {
  .hamburger-menu.active {
    top: 70px;
  }
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: -100vw;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  opacity: 0;
  background-color: black;
}

section.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (orientation: portrait) {
  section.home {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

section.home h1 {
  font-size: 5rem;
  padding: 0 40px 0 20px;
}

@media (max-width: 1400px) {
  section.home h1 {
    font-size: 4rem;
  }
}

@media (max-width: 825px) {
  section.home h1 {
    font-size: 3rem;
  }
}

@media (orientation: portrait) {
  section.home h1 {
    width: 50%;
    padding-top: 40px;
  }
}

@media (max-width: 340px) {
  section.home h1 {
    font-size: 2.3rem;
  }
}

section.active {
  left: 0;
  opacity: 1;
}

section.go-right {
  left: 100vw;
}

section.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

section.about p {
  margin-left: 5%;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  font-size: 2.5rem;
}

@media (max-width: 1400px) {
  section.about p {
    font-size: 2.2rem;
  }
}

@media (max-width: 825px) {
  section.about p {
    font-size: 1.3rem;
  }
}

@media (max-width: 675px) {
  section.about p {
    font-size: 1.2rem;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (orientation: portrait) and (max-width: 440px) {
  section.about p {
    font-size: 1.4rem;
  }
}

@media (max-width: 440px) and (max-height: 570px) {
  section.about p {
    font-size: 1.2rem;
  }
}

section.about ul {
  position: relative;
  list-style: none;
}

section.about ul li {
  position: fixed;
  border-radius: 50%;
  background-color: white;
  opacity: 0.8;
}

section.about ul li.animate {
  -webkit-animation-name: bubbles;
  animation-name: bubbles;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

section.about .animateDiv {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300vw;
  background-image: -webkit-linear-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0)),
    color-stop(black),
    to(black)
  );
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, black);
  opacity: 1;
}

section.about .animateDiv.animate {
  display: block;
  -webkit-animation: moveRight 2.5s linear forwards;
  animation: moveRight 2.5s linear forwards;
}

@-webkit-keyframes moveRight {
  100% {
    right: -300vw;
  }
}

@keyframes moveRight {
  100% {
    right: -300vw;
  }
}

@-webkit-keyframes bubbles {
  100% {
    right: 50vw;
    opacity: 0;
  }
}

@keyframes bubbles {
  100% {
    right: 50vw;
    opacity: 0;
  }
}

section.projects {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

section.projects h1 {
  position: static;
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
  height: 20%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  font-size: 5rem;
}

@media (max-width: 1400px) {
  section.projects h1 {
    font-size: 4rem;
  }
}

@media (max-width: 825px) {
  section.projects h1 {
    font-size: 3rem;
  }
}

@media (max-width: 340px) {
  section.projects h1 {
    font-size: 2.3rem;
  }
}

section.projects section.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 50%;
  width: 85%;
  height: calc(80% - 20px);
  padding: 20px;
  background-color: black;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: visible;
  -webkit-perspective: 400px;
  perspective: 400px;
}

@media (orientation: portrait) {
  section.projects section.project {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-perspective: none;
    perspective: none;
  }
}

section.projects section.project section.description,
section.projects section.project section.demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  height: 70%;
  opacity: 1;
}

@media (orientation: landscape) and (max-width: 1400px) {
  section.projects section.project section.description,
  section.projects section.project section.demo {
    height: 80%;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  section.projects section.project section.description,
  section.projects section.project section.demo {
    height: 95%;
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%;
  }
}

section.projects section.project section.description {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: black;
}

@media (orientation: portrait) {
  section.projects section.project section.description {
    display: none;
  }
}

section.projects section.project section.description p {
  font-size: 2rem;
}

@media (orientation: landscape) and (max-width: 1400px) {
  section.projects section.project section.description p {
    font-size: 1.7rem;
  }
}

@media (orientation: landscape) and (max-width: 830px) {
  section.projects section.project section.description p {
    font-size: 1.2rem;
  }
}

@media (orientation: landscape) and (max-width: 700px) {
  section.projects section.project section.description p {
    font-size: 1rem;
  }
}

@media (orientation: landscape) and (max-width: 570px) {
  section.projects section.project section.description p {
    font-size: 0.9rem;
  }
}

section.projects section.project section.demo {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.6s linear;
  transition: 0.6s linear;
  -webkit-box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
  -webkit-perspective: 400px;
  perspective: 400px;
  overflow: hidden;
}

@media (orientation: portrait) {
  section.projects section.project section.demo {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-perspective: none;
    perspective: none;
    -webkit-transform: none;
    transform: none;
  }
}

section.projects section.project section.demo a,
section.projects section.project section.demo p {
  display: block;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 12%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  cursor: pointer;
  color: white;
  background-color: black;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  border-radius: 0;
}

section.projects section.project section.demo a:focus,
section.projects section.project section.demo p:focus {
  -webkit-box-shadow: 0px 0px 2px 2px white;
  box-shadow: 0px 0px 2px 2px white;
}

@media (orientation: landscape) and (max-width: 1400px) {
  section.projects section.project section.demo a,
  section.projects section.project section.demo p {
    -ms-flex-preferred-size: 43%;
    flex-basis: 43%;
  }
}

section.projects section.project section.demo a:hover,
section.projects section.project section.demo p:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

@media (orientation: portrait) {
  section.projects section.project section.demo a,
  section.projects section.project section.demo p {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
  }
}

section.projects section.project section.demo a {
  -webkit-transform: translateY(450%) rotateY(-10deg);
  transform: translateY(450%) rotateY(-10deg);
}

@media (orientation: portrait) {
  section.projects section.project section.demo a {
    -ms-flex-preferred-size: 43%;
    flex-basis: 43%;
    margin-top: 10px;
    -webkit-animation: btn-shake 4s infinite;
    animation: btn-shake 4s infinite;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  section.projects section.project section.demo a {
    -webkit-transform: translateY(0%) rotateY(-10deg);
    transform: translateY(0%) rotateY(-10deg);
  }
}

@media (orientation: portrait) {
  section.projects section.project section.demo a:nth-of-type(2) {
    margin-left: 4%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
}

section.projects section.project section.demo a:nth-of-type(1) {
  -webkit-transform: translateY(-450%) rotateY(-10deg);
  transform: translateY(-450%) rotateY(-10deg);
}

@media (orientation: landscape) and (max-width: 1024px) {
  section.projects section.project section.demo a:nth-of-type(1) {
    -webkit-transform: translateY(0%) rotateY(-10deg);
    transform: translateY(0%) rotateY(-10deg);
  }
}

@-webkit-keyframes btn-shake {
  0% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%);
  }
  1% {
    -webkit-transform: translateX(3%);
    transform: translateX(3%);
  }
  2% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%);
  }
  3% {
    -webkit-transform: translateX(3%);
    transform: translateX(3%);
  }
  4% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes btn-shake {
  0% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%);
  }
  1% {
    -webkit-transform: translateX(3%);
    transform: translateX(3%);
  }
  2% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%);
  }
  3% {
    -webkit-transform: translateX(3%);
    transform: translateX(3%);
  }
  4% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

section.projects section.project section.demo p {
  display: none;
}

@media (orientation: portrait) {
  section.projects section.project section.demo p {
    display: block;
    font-size: 1.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (orientation: portrait) {
  section.projects section.project section.demo {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

section.projects section.project section.demo:hover > a {
  -webkit-transform: translateY(0%) rotateY(-10deg);
  transform: translateY(0%) rotateY(-10deg);
}

section.projects section.project section.quiz {
  background-image: url("../../images/quiz-large.png");
}

section.projects section.project section.quiz:hover {
  background-image: url("../../images/quiz-large-blur.jpg");
}

@media (orientation: portrait) {
  section.projects section.project section.quiz {
    background-image: url("../../images/quiz-small1.jpg");
  }
}

section.projects section.project section.to-do {
  background-image: url("../../images/to-do-large.png");
}

section.projects section.project section.to-do:hover {
  background-image: url("../../images/to-do-large-blur.jpg");
}

@media (orientation: portrait) {
  section.projects section.project section.to-do {
    background-image: url("../../images/to-do-small1.jpg");
  }
}

section.projects section.project section.floating-chars {
  background-image: url("../../images/floating-chars-large.png");
}

section.projects section.project section.floating-chars:hover {
  background-image: url("../../images/floating-chars-large-blur.jpg");
}

@media (orientation: portrait) {
  section.projects section.project section.floating-chars {
    background-image: url("../../images/floating-chars-small1.jpg");
  }
}

section.projects section.project section.portfolio {
  background-image: url("../../images/portfolio-large.png");
}

section.projects section.project section.portfolio:hover {
  background-image: url("../../images/portfolio-large-blur.jpg");
}

@media (orientation: portrait) {
  section.projects section.project section.portfolio {
    background-image: url("../../images/portfolio-small1.jpg");
  }
}

section.projects section.project.active {
  opacity: 1;
  z-index: 1;
}

section.projects .btn-next,
section.projects .btn-prev {
  position: absolute;
  top: 60%;
  right: 1%;
  opacity: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 12%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  cursor: pointer;
  color: white;
  background-color: black;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  border: none;
  border-radius: 50%;
  font-size: 3rem;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

section.projects .btn-next:focus,
section.projects .btn-prev:focus {
  -webkit-box-shadow: 0px 0px 2px 2px white;
  box-shadow: 0px 0px 2px 2px white;
}

section.projects .btn-next:hover,
section.projects .btn-prev:hover {
  color: lightgray;
}

@media (max-width: 1024px) {
  section.projects .btn-next:hover,
  section.projects .btn-prev:hover {
    color: white;
  }
}

@media (orientation: portrait) and (max-width: 330px) {
  section.projects .btn-next,
  section.projects .btn-prev {
    font-size: 2.3rem;
  }
}

@media (orientation: portrait) and (min-width: 1024px) {
  section.projects .btn-next,
  section.projects .btn-prev {
    top: 55%;
    font-size: 5rem;
  }
}

@media (orientation: landscape) and (max-width: 825px) {
  section.projects .btn-next,
  section.projects .btn-prev {
    font-size: 2.3rem;
  }
}

section.projects .btn-prev {
  right: auto;
  left: 1%;
  display: none;
  -webkit-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}

section.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

section.contact h1 {
  position: static;
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
  height: 20%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  font-size: 5rem;
}

@media (max-width: 1400px) {
  section.contact h1 {
    font-size: 4rem;
  }
}

@media (max-width: 825px) {
  section.contact h1 {
    font-size: 3rem;
  }
}

@media (max-width: 340px) {
  section.contact h1 {
    font-size: 2.3rem;
  }
}

section.contact .scene {
  width: 20vw;
  height: 20vw;
  -webkit-perspective: 600px;
  perspective: 600px;
}

@media (orientation: portrait) {
  section.contact .scene {
    width: 30vh;
    height: 30vh;
  }
}

section.contact .scene div.cube {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-10vw);
  transform: translateZ(-10vw);
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

section.contact .scene div.cube__face {
  position: absolute;
  width: 20vw;
  height: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid white;
}

@media (orientation: portrait) {
  section.contact .scene div.cube__face {
    width: 30vh;
    height: 30vh;
  }
}

section.contact .scene div.cube__face p,
section.contact .scene div.cube__face a {
  font-size: 20px;
  background-color: black;
}

section.contact .scene div.cube__face a {
  font-size: 50px;
  text-decoration: none;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

section.contact .scene div.cube__face a i {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

section.contact .scene div.cube__face p {
  padding: 10px;
}

section.contact .scene div.cube__face .facebook:hover {
  color: #3b5998;
}

section.contact .scene div.cube__face .github:hover {
  color: #f00;
}

section.contact .scene div.cube__face .linkedin:hover {
  color: #007bb5;
}

section.contact .scene div.cube__face .twitter:hover {
  color: #1da1f2;
}

section.contact .scene div.cube__face .email:hover {
  color: #e34e0e;
}

section.contact .scene .cube__face--front {
  -webkit-transform: rotateY(0deg) translateZ(10vw);
  transform: rotateY(0deg) translateZ(10vw);
  background-color: rgba(0, 0, 0, 0.7);
}

@media (orientation: portrait) {
  section.contact .scene .cube__face--front {
    -webkit-transform: rotateY(0deg) translateZ(15vh);
    transform: rotateY(0deg) translateZ(15vh);
  }
}

section.contact .scene .cube__face--right {
  -webkit-transform: rotateY(90deg) translateZ(10vw);
  transform: rotateY(90deg) translateZ(10vw);
  background-color: rgba(0, 0, 0, 0.7);
}

@media (orientation: portrait) {
  section.contact .scene .cube__face--right {
    -webkit-transform: rotateY(90deg) translateZ(15vh);
    transform: rotateY(90deg) translateZ(15vh);
  }
}

section.contact .scene .cube__face--back {
  -webkit-transform: rotateY(180deg) translateZ(10vw);
  transform: rotateY(180deg) translateZ(10vw);
  background-color: rgba(0, 0, 0, 0.7);
}

@media (orientation: portrait) {
  section.contact .scene .cube__face--back {
    -webkit-transform: rotateY(180deg) translateZ(15vh);
    transform: rotateY(180deg) translateZ(15vh);
  }
}

section.contact .scene .cube__face--left {
  -webkit-transform: rotateY(-90deg) translateZ(10vw);
  transform: rotateY(-90deg) translateZ(10vw);
  background-color: rgba(0, 0, 0, 0.7);
}

@media (orientation: portrait) {
  section.contact .scene .cube__face--left {
    -webkit-transform: rotateY(-90deg) translateZ(15vh);
    transform: rotateY(-90deg) translateZ(15vh);
  }
}

section.contact .scene .cube__face--top {
  -webkit-transform: rotateX(90deg) translateZ(10vw);
  transform: rotateX(90deg) translateZ(10vw);
  background-color: rgba(0, 0, 0, 0.7);
}

@media (orientation: portrait) {
  section.contact .scene .cube__face--top {
    -webkit-transform: rotateX(90deg) translateZ(15vh);
    transform: rotateX(90deg) translateZ(15vh);
  }
}

section.contact .scene .cube__face--bottom {
  -webkit-transform: rotateX(-90deg) translateZ(10vw);
  transform: rotateX(-90deg) translateZ(10vw);
  background-color: rgba(0, 0, 0, 0.7);
}

@media (orientation: portrait) {
  section.contact .scene .cube__face--bottom {
    -webkit-transform: rotateX(-90deg) translateZ(15vh);
    transform: rotateX(-90deg) translateZ(15vh);
  }
}

section.contact .scene .cube.show-front {
  -webkit-transform: translateZ(-10vw) rotateY(0deg);
  transform: translateZ(-10vw) rotateY(0deg);
}

@media (orientation: portrait) {
  section.contact .scene .cube.show-front {
    -webkit-transform: translateZ(-15vh) rotateY(0deg);
    transform: translateZ(-15vh) rotateY(0deg);
  }
}

section.contact .scene .cube.show-right {
  -webkit-transform: translateZ(-10vw) rotateY(-90deg);
  transform: translateZ(-10vw) rotateY(-90deg);
}

@media (orientation: portrait) {
  section.contact .scene .cube.show-right {
    -webkit-transform: translateZ(-15vh) rotateY(-90deg);
    transform: translateZ(-15vh) rotateY(-90deg);
  }
}

section.contact .scene .cube.show-back {
  -webkit-transform: translateZ(-10vw) rotateY(-180deg);
  transform: translateZ(-10vw) rotateY(-180deg);
}

@media (orientation: portrait) {
  section.contact .scene .cube.show-back {
    -webkit-transform: translateZ(-15vh) rotateY(-180deg);
    transform: translateZ(-15vh) rotateY(-180deg);
  }
}

section.contact .scene .cube.show-left {
  -webkit-transform: translateZ(-10vw) rotateY(90deg);
  transform: translateZ(-10vw) rotateY(90deg);
}

@media (orientation: portrait) {
  section.contact .scene .cube.show-left {
    -webkit-transform: translateZ(-15vh) rotateY(90deg);
    transform: translateZ(-15vh) rotateY(90deg);
  }
}

section.contact .scene .cube.show-top {
  -webkit-transform: translateZ(-10vw) rotateX(-90deg);
  transform: translateZ(-10vw) rotateX(-90deg);
}

@media (orientation: portrait) {
  section.contact .scene .cube.show-top {
    -webkit-transform: translateZ(-15vh) rotateX(-90deg);
    transform: translateZ(-15vh) rotateX(-90deg);
  }
}

section.contact .scene .cube.show-bottom {
  -webkit-transform: translateZ(-10vw) rotateX(90deg);
  transform: translateZ(-10vw) rotateX(90deg);
}

@media (orientation: portrait) {
  section.contact .scene .cube.show-bottom {
    -webkit-transform: translateZ(-15vh) rotateX(90deg);
    transform: translateZ(-15vh) rotateX(90deg);
  }
}

section.contact div.rotate-btns {
  height: 20%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (orientation: portrait) {
  section.contact div.rotate-btns {
    width: 95%;
  }
}

section.contact div.rotate-btns .rotate-btn {
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 12%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  cursor: pointer;
  color: white;
  background-color: black;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  border-radius: 0%;
  font-size: 20px;
}

section.contact div.rotate-btns .rotate-btn:focus {
  -webkit-box-shadow: 0px 0px 2px 2px white;
  box-shadow: 0px 0px 2px 2px white;
}

section.contact div.rotate-btns .rotate-btn:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

@media (orientation: portrait) {
  section.contact div.rotate-btns .rotate-btn {
    -ms-flex-preferred-size: 26%;
    flex-basis: 26%;
    margin: 7px 0;
  }
}

.cube-container {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cube-container .form {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 60vh;
  padding: 10px;
  background-color: black;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (orientation: portrait) and (max-width: 1024px) {
  .cube-container .form {
    width: 600px;
    height: 800px;
  }
}

@media (orientation: portrait) and (max-width: 900px) {
  .cube-container .form {
    width: 80vw;
    height: 80vh;
  }
}

@media (orientation: landscape) and (max-width: 900px) {
  .cube-container .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 90vw;
    height: 70vh;
  }
}

@media (orientation: landscape) and (max-height: 200px) {
  .cube-container .form {
    width: 90vw;
    height: 260px;
  }
}

.cube-container .form input,
.cube-container .form textarea,
.cube-container .form button[type="submit"] {
  width: 90%;
}

@media (orientation: portrait) {
  .cube-container .form input,
  .cube-container .form textarea,
  .cube-container .form button[type="submit"] {
    width: 80%;
  }
}

@media (orientation: landscape) and (max-width: 900px) {
  .cube-container .form input,
  .cube-container .form textarea,
  .cube-container .form button[type="submit"] {
    width: 45%;
  }
}

.cube-container .form input,
.cube-container .form button[type="submit"] {
  height: 10%;
}

@media (orientation: landscape) and (max-width: 900px) {
  .cube-container .form input,
  .cube-container .form button[type="submit"] {
    height: 20%;
  }
}

.cube-container .form textarea {
  height: 60%;
}

@media (orientation: landscape) and (max-width: 900px) {
  .cube-container .form textarea {
    height: 70%;
  }
}

.cube-container .form button[type="submit"] {
  border-radius: 12%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  cursor: pointer;
  color: white;
  background-color: black;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  border-radius: 0;
}

.cube-container .form button[type="submit"]:focus {
  -webkit-box-shadow: 0px 0px 2px 2px white;
  box-shadow: 0px 0px 2px 2px white;
}

.cube-container .form button[type="submit"]:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

@media (orientation: landscape) and (max-width: 900px) {
  .cube-container .form button[type="submit"] {
    width: 30%;
  }
}

.cube-container .form input,
.cube-container .form textarea {
  padding: 10px;
  font-size: 20px;
}

.cube-container .form .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(40%, -40%);
  transform: translate(40%, -40%);
  font-size: 2rem;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 50%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.cube-container .form .close-btn:hover {
  color: black;
  background-color: white;
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-transform: scale(0);
  transform: scale(0);
  z-index: 3;
}

.form-container.active {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/*# sourceMappingURL=styles.css.map */
