*
    margin: 0
    padding: 0
    box-sizing: border-box
body 
    background-color: black 
    font-family: 'Roboto', sans-serif
::selection 
  color: black
  background: white
.nav 
    position: fixed 
    width: 100vw
    height: 70px 
    top: 0
    left: 0 
    z-index: 5 
    transition: .3s linear
    @media (orientation: landscape) and (max-width: 900px)
        top: -80px 
.nav.active
    top: 0
.hamburger-menu,
    display: none
    position: fixed 
    top: 10px
    right: 10px 
    width: 40px
    height: 40px
    background-color: black
    color: white
    font-size: 1.5rem
    overflow: hidden
    @media (orientation: landscape) and (max-width: 900px) 
        display: block
    .hamburger-btn, .close-btn
        position: absolute 
        top: 50%
        left:  50%
        transform: translate(-50%, -50%)
        transition: .3s linear
    .close-btn
        transform: translate(-50%, -180%)
    .hamburger-btn.active 
        transform: translate(-50%, 180%) 
    .close-btn.active
        transform: translate(-50%, -50%)
.btn 
    position: absolute 
    top: -30px 
    left: 20px
    width: 80px
    height: 80px 
    border-radius: 12%
    transition: .3s linear
    cursor: pointer 
    color: white 
    background-color: black
    font-size: 2rem 
    border: 1px solid white 
    transition: .3s linear
    i 
        position: absolute 
        bottom: 10px 
        left: 50%
        transform: translateX(-50%) 
    @media (max-width: 440px) 
        left: 4vw
        top: -5vw
        width: 20vw
        height: 20vw    
.btn.active
    top: -10px
    color: black
    background-color: white
    border-color: black
    @media (max-width: 825px)
        top: -20px
    @media (max-width: 825px) and (orientation: portrait)
        top: -1vh
.btn:hover 
    color: black
    background-color: white
    border-color: black
.about-btn 
    left: 120px
    @media (max-width: 440px) 
        left: 28vw
.projects-btn 
    left: 220px 
    @media (max-width: 440px) 
        left: 52vw
.contact-btn 
    left: 320px 
    @media (max-width: 440px) 
        left: 76vw
main 
    position: realtive
    overflow: hidden
section 
    position: absolute
    width: 100vw 
    height: 100%
    bottom: 0 
    left: -100vw  
    transition: .6s ease-in-out
    opacity: 0 
    background-color: black 
    color: white 
    h1 
        top: 40%
        left: 20px
        position: absolute  
        font-size: 5rem   
        padding-right: 20px  
        @media (max-width: 825px) 
            top: 120px
            font-size: 3rem 
        @media (orientation: portrait) and (max-width: 770px) 
            width: 50% 
        @media (orientation: portrait) and (min-height: 730px) 
            top: 200px
        @media (max-width: 320px) 
            font-size: 2.5rem
section.active 
    left: 0
    opacity: 1
section.go-right 
    left: 100vw             
section.about 
    overflow: hidden
    p 
        position: absolute 
        top: 20% 
        left: 5% 
        width: 40% 
        overflow: hidden
        font-size: 2.5rem 
        @media (max-width: 1200px) 
            top: 15%
            font-size: 2.1rem
        @media (max-width: 825px) 
            top: 15%
            font-size: 1.3rem
        @media (max-width: 675px) 
            font-size: 1.2rem
            width: 50%
        @media (max-width: 535px)
            top: 10%
        @media (max-width: 440px) 
            top: 100px
            font-size: 1.3rem 
        @media (orientation: portrait) and (min-height: 730px) 
            top: 200px
        @media (max-width: 440px) and (max-height: 570px) 
            font-size: 1.1rem
    ul 
        position: relative 
        list-style: none 
        li
            position: fixed 
            border-radius: 50%
            background-color: white
            opacity: .8
        li.animate 
            animation-name: bubbles
            animation-iteration-count: infinite
            animation-timing-function: linear
    .animateDiv
        display: none
        position: fixed
        top: 0
        right: 0
        height: 100vh
        width: 300vw
        background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1),rgba(0,0,0,1))
        opacity: 1
    .animateDiv.animate
        display: block
        animation: moveRight 2.5s linear forwards
@keyframes moveRight
    100%
        right: -300vw   
@keyframes bubbles 
    100% 
        right: 50vw 
        opacity: 0
section.projects 
    overflow: auto
    section.project 
        left: 50%
        top: 200px
        height: 75%
        width: 90%
        background-color: red
        transform: translateX(-50%)
        overflow: visible
        z-index: 0
        transition: 1s linear
        @media (orientation: portrait)
            top: 140px
        @media (orientation: portrait) and (min-width: 768px)
            top: 200px
        @media (orientation: portrait) and (max-width: 330px)
            height: 68%
    section.project.active 
        opacity: 1
        z-index: 1
    section.project-2
        background-color: blue
    section.project-3
        background-color: gray
    section.project-4
        background-color: orange
    section.project-5
        background-color: purple
    .btn-next, .btn-prev
        position: absolute
        top: 60% 
        right: 1% 
        opacity: 1
        transform: translateY(-50%)
        cursor: pointer 
        color: white
        background-color: black
        border-radius: 50%
        font-size: 3rem
        z-index: 1
        @media (orientation: portrait) and (max-width: 330px)
            font-size: 2.3rem
        @media (orientation: portrait) and (min-width: 1024px)
            top: 55%
            font-size: 5rem
    .btn-prev 
        right: auto
        left: 1%
        display: none
        transform: translateY(-50%) rotate(-180deg) 
    h1 
        @media (orientation: portrait)
            left: 0
            top: 70px
            width: 100% 
            text-align: center 
        @media (orientation: portrait) and (min-height: 800px)
            top: 80px
section.contact 
    h1  
        top: 10% 
        left: 50%
        transform: translate(-50%, -0%) 
    p 
        position: absolute 
        bottom: 5vh 
        left: 0 
        width: 100% 
        height: 70vh 
        padding: 20px
   
